In [177]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [178]:
# Read the CSV files into DataFrames.
df1 = pd.read_csv('C:/pandas-challenge-1/athletic_sales_analysis/Starter_Code/Resources/athletic_sales_2020.csv')
df2 = pd.read_csv('C:/pandas-challenge-1/athletic_sales_analysis/Starter_Code/Resources/athletic_sales_2021.csv')
df = pd.concat([df1, df2])
df['shipping_price'] = df['units_sold'].apply(lambda x: 7*x if x > 50 else 10*x)

print(df)

         retailer  retailer_id invoice_date     region         state          city                product  price_per_unit  units_sold  total_sales  operating_profit sales_method  shipping_price
0     Foot Locker      1185732       1/1/20  Northeast      New York      New York  Men's Street Footwear              50        1200       600000         300000.00     In-store            8400
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania  Philadelphia        Women's Apparel              68          83         5644           2426.92       Online             581
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania  Philadelphia        Women's Apparel              75         275       206250          61875.00       Outlet            1925
3     Foot Locker      1185732       1/1/20  Northeast      New York      New York  Men's Street Footwear              34         384        13056           6789.12       Outlet            2688
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania  Philadelphia        Women's Apparel              53          83         4399           1407.68       Outlet             581
...           ...          ...          ...        ...           ...           ...                    ...             ...         ...          ...               ...          ...             ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania  Philadelphia          Men's Apparel              63          47         2961           1362.06       Online             470
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania  Philadelphia          Men's Apparel              46          56         2576           1004.64       Outlet             392
8343       Amazon      1185732     12/31/21  Northeast         Maine      Portland          Men's Apparel              52          36         1872            692.64       Online             360
8344       Amazon      1185732     12/31/21  Northeast         Maine      Portland          Men's Apparel              55         125        68750          17187.50       Outlet             875
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania  Philadelphia          Men's Apparel              70         175       122500          42875.00       Outlet            1225

[9643 rows x 13 columns]

In [179]:
print(df.describe())

        retailer_id  price_per_unit   units_sold    total_sales  operating_profit  shipping_price
count  9.643000e+03     9643.000000  9643.000000    9643.000000       9643.000000     9643.000000
mean   1.173861e+06       45.214249   256.871928   93247.492585      34413.122058     1804.529711
std    2.635396e+04       14.708018   214.200195  141871.254293      54172.533684     1493.120539
min    1.128299e+06        7.000000     0.000000       0.000000          0.000000        0.000000
25%    1.185732e+06       35.000000   106.000000    4250.000000       1919.155000      742.000000
50%    1.185732e+06       45.000000   176.000000    9576.000000       4368.000000     1232.000000
75%    1.185732e+06       55.000000   350.000000  150000.000000      52031.250000     2450.000000
max    1.197831e+06      110.000000  1275.000000  825000.000000     390000.000000     8925.000000

In [180]:
# Display the 2020 sales DataFrame
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
print(df1)

         retailer  retailer_id invoice_date     region         state           city                  product  price_per_unit  units_sold  total_sales  operating_profit sales_method
0     Foot Locker      1185732       1/1/20  Northeast      New York       New York    Men's Street Footwear              50        1200       600000         300000.00     In-store
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania   Philadelphia          Women's Apparel              68          83         5644           2426.92       Online
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania   Philadelphia          Women's Apparel              75         275       206250          61875.00       Outlet
3     Foot Locker      1185732       1/1/20  Northeast      New York       New York    Men's Street Footwear              34         384        13056           6789.12       Outlet
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania   Philadelphia          Women's Apparel              53          83         4399           1407.68       Outlet
...           ...          ...          ...        ...           ...            ...                      ...             ...         ...          ...               ...          ...
1292    West Gear      1128299     12/30/20       West    California  San Francisco          Women's Apparel              72         203        14616           3946.32       Online
1293    West Gear      1128299     12/30/20       West    California  San Francisco          Women's Apparel              80         700       560000          84000.00       Outlet
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota    Minneapolis  Women's Street Footwear              41         119         4879           2878.61       Online
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota    Minneapolis  Women's Street Footwear              45         475       213750          96187.50       Outlet
1296    West Gear      1128299     12/30/20       West    California  San Francisco          Women's Apparel              62         245        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [181]:
# Display the 2021 sales DataFrame
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
print(df2)

         retailer  retailer_id invoice_date     region         state           city                  product  price_per_unit  units_sold  total_sales  operating_profit sales_method
0       West Gear      1128299       1/1/21       West    California  San Francisco  Men's Athletic Footwear              65         750       487500         121875.00       Outlet
1       West Gear      1128299       1/1/21       West    California  San Francisco  Men's Athletic Footwear              51         233        11883           3208.41       Outlet
2          Kohl's      1189833       1/1/21    Midwest       Montana       Billings            Men's Apparel              50         275       137500          82500.00       Outlet
3          Kohl's      1189833       1/1/21    Midwest       Montana       Billings            Men's Apparel              47          77         3619           2714.25       Online
4       West Gear      1128299       1/1/21       West    California  San Francisco  Men's Athletic Footwear              64         225        14400           5184.00       Online
...           ...          ...          ...        ...           ...            ...                      ...             ...         ...          ...               ...          ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania   Philadelphia            Men's Apparel              63          47         2961           1362.06       Online
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania   Philadelphia            Men's Apparel              46          56         2576           1004.64       Outlet
8343       Amazon      1185732     12/31/21  Northeast         Maine       Portland            Men's Apparel              52          36         1872            692.64       Online
8344       Amazon      1185732     12/31/21  Northeast         Maine       Portland            Men's Apparel              55         125        68750          17187.50       Outlet
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania   Philadelphia            Men's Apparel              70         175       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [182]:
# Check the 2020 sales data types.
print(df1.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [183]:
# Check the 2021 sales data types.
print(df2.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [184]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_data = pd.concat([df1,df2], ignore_index=True)
combined_data.reset_index(drop=True, inplace=True)

In [185]:
# Check if any values are null.
print(combined_data.isnull().sum())

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [186]:
# Check the data type of each column
print(df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
shipping_price        int64
dtype: object

In [187]:
# Convert the "invoice_date" to a datetime datatype
combined_data['invoice_date'] = pd.to_datetime(combined_data['invoice_date'])

C:\Users\ReisH\AppData\Local\Temp\ipykernel_23392\3359126061.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_data['invoice_date'] = pd.to_datetime(combined_data['invoice_date'])

In [188]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_data.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [189]:
# Group by region, state, and city, and count the number of products sold
region_sales = combined_data.groupby(['region', 'state', 'city']).size().reset_index(name='total_products')

# Sort the results in descending order to show the top five regions
region_sales = region_sales.sort_values('total_products', ascending=False).head(5)

print(region_sales)

       region      state           city  total_products
27      South   Arkansas    Little Rock             216
40  Southeast   Virginia       Richmond             216
32      South      Texas         Dallas             216
31      South  Tennessee      Knoxville             216
30      South   Oklahoma  Oklahoma City             216

#### Using `pivot_table`

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [190]:
# Group by region, state, and city, and sum the total sales
region_total_sales = combined_data.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index(name='total_sales')

# Sort the results in descending order to show the top five regions
region_total_sales = region_total_sales.sort_values('total_sales', ascending=False).head(5)

print(region_total_sales)

       region           state           city  total_sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

### 4. Determine which Retailer had the Most Sales

In [191]:
print(df.columns)

Index(['retailer', 'retailer_id', 'invoice_date', 'region', 'state', 'city', 'product', 'price_per_unit', 'units_sold', 'total_sales', 'operating_profit', 'sales_method', 'shipping_price'], dtype='object')

#### Using `groupby`

In [192]:
# Group by retailer, region, state, and city, and sum the total sales
retailer_total_sales = combined_data.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index(name='total_sales')

# Sort the results in descending order to show the top five retailers
retailer_total_sales = retailer_total_sales.sort_values('total_sales', ascending=False).head(5)

print(retailer_total_sales)

        retailer     region           state           city  total_sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [193]:
# Filter the sales data to get the women's athletic footwear sales data.

women_athletic_footwear_sales = df.loc[df['product'].str.contains('Women\'s Athletic Footwear', case=False)]
print(women_athletic_footwear_sales)

         retailer  retailer_id invoice_date     region         state          city                    product  price_per_unit  units_sold  total_sales  operating_profit sales_method  shipping_price
21    Foot Locker      1185732       1/4/20  Northeast      New York      New York  Women's Athletic Footwear              36         281        10116           3742.92       Outlet            1967
22    Foot Locker      1185732       1/4/20  Northeast      New York      New York  Women's Athletic Footwear              41         247        10127           4658.42       Online            1729
23    Foot Locker      1185732       1/4/20  Northeast      New York      New York  Women's Athletic Footwear              45         850       382500         133875.00     In-store            5950
26      West Gear      1128299       1/5/20  Northeast  Pennsylvania  Philadelphia  Women's Athletic Footwear              45         300       135000          47250.00       Outlet            2100
27      West Gear      1128299       1/5/20  Northeast  Pennsylvania  Philadelphia  Women's Athletic Footwear              34          90         3060           1254.60       Outlet             630
...           ...          ...          ...        ...           ...           ...                        ...             ...         ...          ...               ...          ...             ...
8336  Foot Locker      1185732     12/30/21  Northeast  Pennsylvania  Philadelphia  Women's Athletic Footwear              57          53         3021           1601.13       Online             371
8337  Foot Locker      1185732     12/30/21  Northeast  Pennsylvania  Philadelphia  Women's Athletic Footwear              40          53         2120            954.00       Outlet             371
8338       Amazon      1185732     12/30/21  Northeast         Maine      Portland  Women's Athletic Footwear              42          36         1512            680.40       Online             360
8339       Amazon      1185732     12/30/21  Northeast         Maine      Portland  Women's Athletic Footwear              45         125        56250          16875.00       Outlet             875
8340  Foot Locker      1185732     12/30/21  Northeast  Pennsylvania  Philadelphia  Women's Athletic Footwear              60         175       105000          42000.00       Outlet            1225

[1604 rows x 13 columns]

#### Using `groupby`

In [194]:
# Assuming df is your DataFrame
women_athletic_footwear_sales = df.loc[df['product'].str.contains('Women\'s Athletic Footwear', case=False)]

grouped_women_athletic_footwear_sales = women_athletic_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()
grouped_women_athletic_footwear_sales = grouped_women_athletic_footwear_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

# Get the top 5 results
top_5_results = grouped_women_athletic_footwear_sales.nlargest(5, 'Womens_Footwear_Units_Sold')

print(top_5_results)

          retailer     region           state           city  Womens_Footwear_Units_Sold
101      West Gear       West      California  San Francisco                       12107
22     Foot Locker  Northeast        New York       New York                       10996
49          Kohl's       West      California    Los Angeles                       10826
33     Foot Locker  Southeast  South Carolina     Charleston                        8814
68   Sports Direct      South           Texas         Dallas                        8790

#### Using `pivot_table`

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [195]:
# assuming the table is a pandas dataframe
df = pd.DataFrame({
    'invoice_date': ['2020-01-04', '2020-01-05', '2020-01-11', '2020-01-17', '2020-01-22', '2020-01-23', '2020-01-28', '2020-01-29', '2020-02-03', '2020-02-04'],
    'Total Sales': [402743, 141801, 129556, 173013, 388250, 188025, 376728, 190065, 390008, 268253]
})

# Set the 'invoice_date' column as the index
df.set_index('invoice_date', inplace=True)

# Rename the "Total Sales" column to "Total Sales" (no change in this case)
df.rename(columns={'Total Sales': 'Total Sales'}, inplace=True)

# Show the table
print(df)

              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
2020-01-23         188025
2020-01-28         376728
2020-01-29         190065
2020-02-03         390008
2020-02-04         268253

In [202]:
df.index = pd.to_datetime(df.index)

# Resample the pivot table into daily bins, and get the total sales for each day.
df_resampled_daily = df.resample('D').sum().asfreq('D', fill_value=0)

# Sort the resampled pivot table in descending order on "Total Sales".
print(df_resampled_daily.head(10))

              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-06              0
2020-01-07              0
2020-01-08              0
2020-01-09              0
2020-01-10              0
2020-01-11         129556
2020-01-12              0
2020-01-13              0

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [198]:
# Resample the daily dataframe into weekly bins and get the total sales for each week
df_resampled_weekly = df_resampled_daily.resample('W').sum()

# Sort the weekly dataframe in descending order on "Total Sales"
df_resampled_weekly_sorted = df_resampled_weekly.sort_values(by='Total Sales', ascending=False)

print(df_resampled_weekly_sorted)

              Total Sales
invoice_date
2020-02-09         658261
2020-01-26         576275
2020-02-02         566793
2020-01-05         544544
2020-01-19         173013
2020-01-12         129556