In [3]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [4]:
# Read the CSV files into DataFrames.
import os
print(os.getcwd())

sales_2020 = pd.read_csv(r'C:\pandas-challenge-1\athletic_sales_analysis\Starter_Code\Resources\athletic_sales_2020.csv')
sales_2021 = pd.read_csv(r'C:\pandas-challenge-1\athletic_sales_analysis\Starter_Code\Resources\athletic_sales_2021.csv')

c:\pandas-challenge-1\athletic_sales_analysis\athletic_sales_analysis

In [5]:
# Display the 2020 sales DataFrame
print(sales_2020.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [6]:
# Display the 2021 sales DataFrame
print(sales_2021.head())

    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

#### Check the data types of each DataFrame

In [7]:
# Check the 2020 sales data types.
print(sales_2020.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          1297 non-null   object
 1   retailer_id       1297 non-null   int64
 2   invoice_date      1297 non-null   object
 3   region            1297 non-null   object
 4   state             1297 non-null   object
 5   city              1297 non-null   object
 6   product           1297 non-null   object
 7   price_per_unit    1297 non-null   int64
 8   units_sold        1297 non-null   int64
 9   total_sales       1297 non-null   int64
 10  operating_profit  1297 non-null   float64
 11  sales_method      1297 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 121.7+ KB
None

In [8]:
# Check the 2021 sales data types.
print(sales_2021.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8346 entries, 0 to 8345
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          8346 non-null   object
 1   retailer_id       8346 non-null   int64
 2   invoice_date      8346 non-null   object
 3   region            8346 non-null   object
 4   state             8346 non-null   object
 5   city              8346 non-null   object
 6   product           8346 non-null   object
 7   price_per_unit    8346 non-null   int64
 8   units_sold        8346 non-null   int64
 9   total_sales       8346 non-null   int64
 10  operating_profit  8346 non-null   float64
 11  sales_method      8346 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 782.6+ KB
None

#### Combine the sales data by rows.

In [9]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
sales_data = pd.concat([sales_2020, sales_2021], ignore_index=True)

In [10]:
# Check if any values are null.
print(sales_data.isnull().sum())

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [11]:
# Check the data type of each column
print(sales_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   object
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 904.2+ KB
None

In [12]:
# Convert the "invoice_date" to a datetime datatype
sales_data['invoice_date'] = pd.to_datetime(sales_data['invoice_date'])

C:\Users\ReisH\AppData\Local\Temp\ipykernel_19752\4219410992.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sales_data['invoice_date'] = pd.to_datetime(sales_data['invoice_date'])

In [13]:
# Confirm that the "invoice_date" data type has been changed.
print(sales_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   datetime64[ns]
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 904.2+ KB
None

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [19]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
region_products_sold = sales_data.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()
region_products_sold = region_products_sold.rename(columns={'units_sold': 'Total_Products_Sold'})

# Show the top 5 results.
print(region_products_sold.nlargest(5, 'Total_Products_Sold'))

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

#### Using `pivot_table`

In [26]:
# Show the number products sold for region, state, and city.
region_sales_pivot = sales_data.pivot_table(index=['region', 'state', 'city'], values='total_sales', aggfunc='sum')

# Rename the "units_sold" column to "Total_Products_Sold"
region_sales_pivot = region_sales_pivot.rename(columns={'total_sales': 'Total_Sales'})

# Show the top 5 results.
print(region_sales_pivot.head(5))

                               Total_Sales
region  state    city
Midwest Illinois Chicago           9797488
        Indiana  Indianapolis      8836198
        Iowa     Des Moines        7424011
        Kansas   Wichita           9972864
        Michigan Detroit          18625433

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [27]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
region_sales = sales_data.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()
region_sales = region_sales.rename(columns={'total_sales': 'Total_Sales'})


# Show the top 5 results.
print(region_sales.head(5), ('Total_Sales'))

    region     state          city  Total_Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433 Total_Sales

#### Using `pivot_table`

In [28]:
# Show the total sales for the products sold for each region, state, and city.
region_sales_pivot = sales_data.pivot_table(index=['region', 'state', 'city'], values='total_sales', aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
region_sales_pivot = region_sales_pivot.rename(columns={'total_sales': 'Total_Sales'})


# Show the top 5 results.
print(region_sales_pivot.head(5))

                               Total_Sales
region  state    city
Midwest Illinois Chicago           9797488
        Indiana  Indianapolis      8836198
        Iowa     Des Moines        7424011
        Kansas   Wichita           9972864
        Michigan Detroit          18625433

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [29]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
retailer_sales = sales_data.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()
retailer_sales = retailer_sales.rename(columns={'total_sales': 'Total_Sales'})


# Show the top 5 results.
print(retailer_sales.head(5), ('Total_Sales'))

  retailer     region          state        city  Total_Sales
0   Amazon    Midwest           Ohio    Columbus     16835873
1   Amazon  Northeast          Maine    Portland      8611395
2   Amazon  Northeast  Massachusetts      Boston      4193590
3   Amazon  Northeast  New Hampshire  Manchester     10077142
4   Amazon  Northeast        Vermont  Burlington     13380463 Total_Sales

#### Using `pivot_table`

In [30]:
# Show the total sales for the products sold for each retailer, region, state, and city.
retailer_sales_pivot = sales_data.pivot_table(index=['retailer', 'region', 'state', 'city'], values='total_sales', aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
retailer_sales_pivot = retailer_sales_pivot.rename(columns={'total_sales': 'Total_Sales'})

# Show the top 5 results.
print(retailer_sales_pivot.head(5))

                                             Total_Sales
retailer region    state         city
Amazon   Midwest   Ohio          Columbus       16835873
         Northeast Maine         Portland        8611395
                   Massachusetts Boston          4193590
                   New Hampshire Manchester     10077142
                   Vermont       Burlington     13380463

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [31]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_footwear_sales = sales_data[sales_data['product'] == 'Women\'s Athletic Footwear']

#### Using `groupby`

In [32]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_footwear_sales_groupby = womens_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()
womens_footwear_sales_groupby = womens_footwear_sales_groupby.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})


# Show the top 5 results.
print(womens_footwear_sales_groupby.head(5), ('Womens_Footwear_Units_Sold'))

  retailer     region          state        city  Womens_Footwear_Units_Sold
0   Amazon    Midwest           Ohio    Columbus                        5801
1   Amazon  Northeast          Maine    Portland                        1841
2   Amazon  Northeast  Massachusetts      Boston                        1190
3   Amazon  Northeast  New Hampshire  Manchester                        3109
4   Amazon  Northeast        Vermont  Burlington                        4327 Womens_Footwear_Units_Sold

#### Using `pivot_table`

In [33]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_footwear_sales_pivot = womens_footwear_sales.pivot_table(index=['retailer', 'region', 'state', 'city'], values='units_sold', aggfunc='sum')

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_footwear_sales_pivot = womens_footwear_sales_pivot.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

# Show the top 5 results.
print(womens_footwear_sales_pivot.head(5))

                                             Womens_Footwear_Units_Sold
retailer region    state         city
Amazon   Midwest   Ohio          Columbus                          5801
         Northeast Maine         Portland                          1841
                   Massachusetts Boston                            1190
                   New Hampshire Manchester                        3109
                   Vermont       Burlington                        4327

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [34]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table = sales_data.pivot_table(index='invoice_date', values='total_sales').rename(columns={'total_sales': 'Total Sales'})

# Show the table.
print(pivot_table)

                Total Sales
invoice_date
2020-01-01    140856.833333
2020-01-02    114901.666667
2020-01-03    105428.833333
2020-01-04    102513.333333
2020-01-05    117971.500000
...                     ...
2021-12-27    120470.600000
2021-12-28     60202.000000
2021-12-29     42221.800000
2021-12-30     33580.600000
2021-12-31     39731.800000

[723 rows x 1 columns]

In [35]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = pivot_table.resample('D').sum()
print(daily_sales)

# Sort the resampled pivot table in descending order on "Total Sales".
daily_sales_sorted = daily_sales.sort_values(by='Total Sales', ascending=False)
print(daily_sales_sorted)

                Total Sales
invoice_date
2020-01-01    140856.833333
2020-01-02    114901.666667
2020-01-03    105428.833333
2020-01-04    102513.333333
2020-01-05    117971.500000
...                     ...
2021-12-27    120470.600000
2021-12-28     60202.000000
2021-12-29     42221.800000
2021-12-30     33580.600000
2021-12-31     39731.800000

[731 rows x 1 columns]
              Total Sales
invoice_date
2020-09-17       374745.0
2020-06-30       346418.0
2020-07-01       338723.5
2020-07-07       338055.0
2020-07-08       308085.0
...                   ...
2020-10-13            0.0
2020-10-12            0.0
2020-10-11            0.0
2020-02-29            0.0
2020-12-31            0.0

[731 rows x 1 columns]

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [36]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_table.resample('W').sum()
print(weekly_sales)

# Sort the resampled pivot table in descending order on "Total Sales".
weekly_sales_sorted = weekly_sales.sort_values(by='Total Sales', ascending=False)
print(weekly_sales_sorted)

                Total Sales
invoice_date
2020-01-05    581672.166667
2020-01-12    579113.666667
2020-01-19    470212.666667
2020-01-26    862854.500000
2020-02-02    892198.166667
...                     ...
2021-12-05    679991.317460
2021-12-12    720810.150494
2021-12-19    673393.334205
2021-12-26    643718.555613
2022-01-02    296206.800000

[105 rows x 1 columns]
               Total Sales
invoice_date
2020-07-05    1.880870e+06
2020-07-12    1.787918e+06
2020-10-04    1.627700e+06
2020-09-20    1.602208e+06
2020-09-27    1.557548e+06
...                    ...
2022-01-02    2.962068e+05
2020-12-20    2.951135e+05
2021-10-31    2.654317e+05
2020-12-13    2.331610e+05
2020-10-18    1.257340e+05

[105 rows x 1 columns]