In [120]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [121]:
# Read the CSV files into DataFrames.
df1 = pd.read_csv('C:/pandas-challenge-1/athletic_sales_analysis/Starter_Code/Resources/athletic_sales_2020.csv')
df2 = pd.read_csv('C:/pandas-challenge-1/athletic_sales_analysis/Starter_Code/Resources/athletic_sales_2021.csv')
df = pd.concat([df1, df2])
df['shipping_price'] = df['units_sold'].apply(lambda x: 7*x if x > 50 else 10*x)

print(df)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
8341  Philadelphia          Men's Apparel              63          47
8342  Philadelphia          Men's Apparel              46          56
8343      Portland          Men's Apparel              52          36
8344      Portland          Men's Apparel              55         125
8345  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method  shipping_price
0          600000         300000.00     In-store            8400
1            5644           2426.92       Online             581
2          206250          61875.00       Outlet            1925
3           13056           6789.12       Outlet            2688
4            4399           1407.68       Outlet             581
...           ...               ...          ...             ...
8341         2961           1362.06       Online             470
8342         2576           1004.64       Outlet             392
8343         1872            692.64       Online             360
8344        68750          17187.50       Outlet             875
8345       122500          42875.00       Outlet            1225

[9643 rows x 13 columns]

In [122]:
print(df.describe())

        retailer_id  price_per_unit   units_sold    total_sales  \
count  9.643000e+03     9643.000000  9643.000000    9643.000000
mean   1.173861e+06       45.214249   256.871928   93247.492585
std    2.635396e+04       14.708018   214.200195  141871.254293
min    1.128299e+06        7.000000     0.000000       0.000000
25%    1.185732e+06       35.000000   106.000000    4250.000000
50%    1.185732e+06       45.000000   176.000000    9576.000000
75%    1.185732e+06       55.000000   350.000000  150000.000000
max    1.197831e+06      110.000000  1275.000000  825000.000000

       operating_profit  shipping_price
count       9643.000000     9643.000000
mean       34413.122058     1804.529711
std        54172.533684     1493.120539
min            0.000000        0.000000
25%         1919.155000      742.000000
50%         4368.000000     1232.000000
75%        52031.250000     2450.000000
max       390000.000000     8925.000000

In [123]:
# Display the 2020 sales DataFrame
print(df1)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [124]:
# Display the 2021 sales DataFrame
print(df2)

         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [125]:
# Check the 2020 sales data types.
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          1297 non-null   object
 1   retailer_id       1297 non-null   int64
 2   invoice_date      1297 non-null   object
 3   region            1297 non-null   object
 4   state             1297 non-null   object
 5   city              1297 non-null   object
 6   product           1297 non-null   object
 7   price_per_unit    1297 non-null   int64
 8   units_sold        1297 non-null   int64
 9   total_sales       1297 non-null   int64
 10  operating_profit  1297 non-null   float64
 11  sales_method      1297 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 121.7+ KB
None

In [126]:
# Check the 2021 sales data types.
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8346 entries, 0 to 8345
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          8346 non-null   object
 1   retailer_id       8346 non-null   int64
 2   invoice_date      8346 non-null   object
 3   region            8346 non-null   object
 4   state             8346 non-null   object
 5   city              8346 non-null   object
 6   product           8346 non-null   object
 7   price_per_unit    8346 non-null   int64
 8   units_sold        8346 non-null   int64
 9   total_sales       8346 non-null   int64
 10  operating_profit  8346 non-null   float64
 11  sales_method      8346 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 782.6+ KB
None

#### Combine the sales data by rows.

In [127]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_sales = pd.concat([df1, df2]).reset_index(drop=True)
print(combined_sales)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [128]:
# Check if any values are null.
print(df.isnull().values.any())

False

In [129]:
# Check the data type of each column
print(combined_sales.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [130]:
# Convert the "invoice_date" to a datetime datatype
combined_sales['invoice_date'] = pd.to_datetime(combined_sales['invoice_date'], infer_datetime_format=True)

C:\Users\ReisH\AppData\Local\Temp\ipykernel_2536\1394918805.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  combined_sales['invoice_date'] = pd.to_datetime(combined_sales['invoice_date'], infer_datetime_format=True)
C:\Users\ReisH\AppData\Local\Temp\ipykernel_2536\1394918805.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_sales['invoice_date'] = pd.to_datetime(combined_sales['invoice_date'], infer_datetime_format=True)

In [131]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_sales.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [132]:
# Show the number products sold for region, state, and city.
top_sales = combined_sales.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the sum to "Total_Products_Sold".
top_sales = top_sales.rename(columns={'units_sold': 'Total_Products_Sold'})

# Show the top 5 results.
print(top_sales.sort_values('Total_Products_Sold', ascending=False).head(5))

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

#### Using `pivot_table`

In [137]:
# Show the number products sold for region, state, and city.
pivot_table = pd.pivot_table(df, values='units_sold', index=['region', 'state', 'city'], aggfunc='sum', margins=True, margins_name='Grand Total')
grand_total = pivot_table.loc['Grand Total', 'units_sold']
pivot_table['Percentage'] = (pivot_table['units_sold'] / grand_total) * 100

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table = pivot_table.rename(columns={'units_sold': 'Total_Products_Sold'})

# Show the top 5 results.
print(pivot_table.head(5))

                               Total_Products_Sold  Percentage
region  state    city
Midwest Illinois Chicago                     25407         NaN
        Indiana  Indianapolis                26332         NaN
        Iowa     Des Moines                  23446         NaN
        Kansas   Wichita                     29463         NaN
        Michigan Detroit                     50095         NaN

C:\Users\ReisH\AppData\Local\Temp\ipykernel_2536\702385035.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  grand_total = pivot_table.loc['Grand Total', 'units_sold']

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [140]:
# Show the total sales for the products sold for each region, state, and city.
grouped_df = df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()
grouped_df = grouped_df.rename(columns={'total_sales': 'Total_Sales'})
grand_total = grouped_df['Total_Sales'].sum()
grouped_df['Percentage'] = (grouped_df['Total_Sales'] / grand_total) * 100

# Show the top 5 results.
print(grouped_df.head(5))

    region     state          city  Total_Sales  Percentage
0  Midwest  Illinois       Chicago      9797488    1.089596
1  Midwest   Indiana  Indianapolis      8836198    0.982689
2  Midwest      Iowa    Des Moines      7424011    0.825637
3  Midwest    Kansas       Wichita      9972864    1.109100
4  Midwest  Michigan       Detroit     18625433    2.071367

#### Using `pivot_table`

In [142]:
# Show the total sales for the products sold for each region, state, and city.
pivot_df = df.pivot_table(index=['region', 'state', 'city'], values='total_sales', aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_df = pivot_df.rename(columns={'total_sales': 'Total_Sales'})
grand_total = pivot_df['Total_Sales'].sum()
pivot_df['Percentage'] = (pivot_df['Total_Sales'] / grand_total) * 100


# Show the top 5 results.
print(pivot_df.head(5))

                               Total_Sales  Percentage
region  state    city
Midwest Illinois Chicago           9797488    1.089596
        Indiana  Indianapolis      8836198    0.982689
        Iowa     Des Moines        7424011    0.825637
        Kansas   Wichita           9972864    1.109100
        Michigan Detroit          18625433    2.071367

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [144]:
# Show the total sales for the products sold for each retailer, region, state, and city.
retailer_sales = df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"
retailer_sales = retailer_sales.rename(columns={'total_sales': 'Total_Sales'})

# Show the top 5 results.
print(retailer_sales.head(5))

  retailer     region          state        city  Total_Sales
0   Amazon    Midwest           Ohio    Columbus     16835873
1   Amazon  Northeast          Maine    Portland      8611395
2   Amazon  Northeast  Massachusetts      Boston      4193590
3   Amazon  Northeast  New Hampshire  Manchester     10077142
4   Amazon  Northeast        Vermont  Burlington     13380463

#### Using `pivot_table`

In [146]:
# Show the total sales for the products sold for each retailer, region, state, and city.
retailer_sales_pivot = df.pivot_table(index=['retailer', 'region', 'state', 'city'], values='total_sales', aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
retailer_sales_pivot = retailer_sales_pivot.rename(columns={'total_sales': 'Total_Sales'})

# Show the top 5 results.
print(retailer_sales_pivot.head(5))

                                             Total_Sales
retailer region    state         city
Amazon   Midwest   Ohio          Columbus       16835873
         Northeast Maine         Portland        8611395
                   Massachusetts Boston          4193590
                   New Hampshire Manchester     10077142
                   Vermont       Burlington     13380463

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [150]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_footwear_sales = df[df['product'] == "Women's Athletic Footwear"]

#### Using `groupby`

In [151]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_footwear_sales_groupby = womens_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()
womens_footwear_sales_groupby = womens_footwear_sales_groupby.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})


# Show the top 5 results.
print(womens_footwear_sales_groupby.head(5), ('Womens_Footwear_Units_Sold'))

  retailer     region          state        city  Womens_Footwear_Units_Sold
0   Amazon    Midwest           Ohio    Columbus                        5801
1   Amazon  Northeast          Maine    Portland                        1841
2   Amazon  Northeast  Massachusetts      Boston                        1190
3   Amazon  Northeast  New Hampshire  Manchester                        3109
4   Amazon  Northeast        Vermont  Burlington                        4327 Womens_Footwear_Units_Sold

#### Using `pivot_table`

In [152]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_footwear_sales_pivot = womens_footwear_sales.pivot_table(index=['retailer', 'region', 'state', 'city'], values='units_sold', aggfunc='sum')

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_footwear_sales_pivot = womens_footwear_sales_pivot.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

# Show the top 5 results.
print(womens_footwear_sales_pivot.head(5))

                                             Womens_Footwear_Units_Sold
retailer region    state         city
Amazon   Midwest   Ohio          Columbus                          5801
         Northeast Maine         Portland                          1841
                   Massachusetts Boston                            1190
                   New Hampshire Manchester                        3109
                   Vermont       Burlington                        4327

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [154]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table = df.pivot_table(index='invoice_date', values='total_sales', aggfunc='sum')
pivot_table = df.pivot_table(index='invoice_date', values='total_sales', aggfunc='sum').reset_index().rename(columns={'total_sales': 'Total_Sales'})

# Show the table.
print(pivot_table)

    invoice_date  Total_Sales
0         1/1/20       845141
1         1/1/21       654902
2        1/10/20       200469
3        1/10/21      3675792
4        1/11/20       129556
..           ...          ...
718       9/7/21      1120330
719       9/8/20       726106
720       9/8/21      2683674
721       9/9/20       814562
722       9/9/21      2008803

[723 rows x 2 columns]

In [162]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = pivot_table.resample('D')['Total_Sales'].sum()
print(daily_sales)

# Sort the resampled pivot table in descending order on "Total Sales".
daily_sales_sorted = daily_sales.sort_values(ascending=False)
print(daily_sales_sorted)
# Find the day with the most sales
max_sales_day = daily_sales.idxmax()
max_sales = daily_sales.max()

print(f'The day with the most women\'s athletic footwear sales is {max_sales_day} with total sales of {max_sales}.')

invoice_date
2020-01-01    845141
2020-01-02    689410
2020-01-03    632573
2020-01-04    615080
2020-01-05    707829
               ...
2021-12-27    602353
2021-12-28    301010
2021-12-29    211109
2021-12-30    167903
2021-12-31    198659
Freq: D, Name: Total_Sales, Length: 731, dtype: int64
invoice_date
2021-07-16    12261098
2021-12-16    10871121
2021-06-17    10239903
2021-08-17     9517031
2021-07-23     7689134
                ...
2020-10-16           0
2020-10-15           0
2020-10-14           0
2020-10-13           0
2020-12-31           0
Name: Total_Sales, Length: 731, dtype: int64
The day with the most women's athletic footwear sales is 2021-07-16 00:00:00 with total sales of 12261098.

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [160]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_table.resample('W')['Total_Sales'].sum()

# Sort the resampled pivot table in descending order on "Total Sales".
weekly_sales_sorted = weekly_sales.sort_values(ascending=False)
print(weekly_sales_sorted)
# Find the week with the most sales
max_sales_week = weekly_sales_sorted.index[0]
max_sales = weekly_sales_sorted.iloc[0]

print(f'The week with the most women\'s athletic footwear sales is {max_sales_week} with total sales of {max_sales}.')

invoice_date
2021-07-11    26271380
2021-07-18    24731702
2021-12-19    24698535
2021-12-12    23250286
2021-08-22    22225401
                ...
2020-11-22      927605
2020-12-06      739673
2020-12-20      590227
2020-12-13      466322
2020-10-18      251468
Name: Total_Sales, Length: 105, dtype: int64
The week with the most women's athletic footwear sales is 2021-07-11 00:00:00 with total sales of 26271380.

In [167]:
# Print out the column names
print(df.columns)

# Filter your DataFrame (assuming 'order_id' is actually in the column names)
orders_to_verify = df[(df['order_id'] == 2742071) | (df['order_id'] == 2173913) | (df['order_id'] == 6128929)]

# Group by 'order_id' and calculate the sum of 'total_sales'
order_totals = orders_to_verify.groupby('order_id')['total_sales'].sum()

# Print the result
print(order_totals)

Index(['retailer', 'retailer_id', 'region', 'state', 'city', 'product',
       'price_per_unit', 'units_sold', 'total_sales', 'operating_profit',
       'sales_method', 'shipping_price'],
      dtype='object')

KeyError: 'order_id'